
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background: #f9f9f9;
  color: #000000;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff0000;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;   
  justify-content: center; 
  align-items: center;  
  gap: 2rem;            
  background: #1e1e1e;
  color: white;
  padding: 0 5%;        
}
.profile {
  border-radius: 12px; 
  max-width: 100%;
  height: auto;
}

.textoNome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;;    
  gap: 2rem; 
  height: 70%; 
  padding-top: 50px; 
}
.textoNome p {
  font-size: 1.2rem;  
  line-height: 1.6;   
  color: #fff;       
}

.contact,
.projetos {
  padding: 60px 20px;
  text-align: center;
  background:#1e1e1e;
}
.textAndSkillsContainer {
  display: flex;
  flex-direction: column; 
  align-items:center;
}
.habilidadesContainer {
  width: 100%;
  text-align: center;
  margin-top:32px; 
}

.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; 

}
.habilidadesGrid {
  display: flex;       
  justify-content: center; 
  gap: 15px;           
  margin-top: 20px;   

}
.habilidadeTag {
  background-color: #ffffff;    
  color: #000000;               
  padding: 8px 16px;        
  border-radius: 5px;        
  border: 1px solid #f8f7f7;   
  font-size: 1rem;           
}

.habilidadeTag:hover {
  background-color: #ffee00; 
}
.projetos {
  padding: 60px 20px;
  background: #f9f9f9;
  text-align: center;
  margin-bottom:20px;
}

.projetosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  margin-top: 20px;
}

.projetoCard {
  background: rgb(189, 37, 37);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
  transition: transform 0.2s ease-in-out;
}
.projetoCard p {
  margin-bottom:12px;
  text-align:justify;
}
.projetoCard h3 {
  margin-top:2px;
  margin-bottom:14px;
}


.projetoCard:hover {
  transform: translateY(-5px);
}

.projetoImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 32px;
}

.githubLink {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.githubLink:hover {
  color: #0c47a1;
  text-decoration: underline;
}
.contact {
  padding: 50px 60px;
  text-align: center;
  background: #1e1e1e;
  color: rgb(252, 252, 252);
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 2rem;
}

.contactItem a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contactItem a:hover {
  color: #1a73e8;
}

.icon {
  width: 30px;
  height: 30px;
}